/*
#1da1f2
*/
body {
    display: flex;
    flex-direction: column;
}
* {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
body{
  background: url('../img/background.jpg') no-repeat;
  background-size: cover;
}
header{
  background: rgba(255,255,255,0.6);
}
.wrongInput{
  border-color:red;
}
.errNote{
  text-align: center;
  color: red;
}
input:disabled {
  background: gray !important  ;
}
nav .container{
  display: flex;
  justify-content: space-around
}
#userNav{
  display: flex;
  align-items: center;
}
#logout{
  color: #1da1f2;
  cursor: pointer;
}
#userNav img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.navUser{
  text-align: center;
  padding-left: 10px;
}
.mainContent{
  display: flex;
  justify-content: space-around;
  padding-top: 7vh;
}
.mainContent>section{
  width: 100%;
  max-width: 340px;
  background: white;
  padding: 20px;
  border-radius: 20px;
}
.mainContent>section h2{
  color: #1da1f2;
  text-align: center;
  padding: 30px 0;
  padding-top: 0;
}
.mainContent>section input[type="text"],.mainContent>section input[type="submit"], .mainContent>section input[type="password"]{
  display: block;
  margin: 10px auto;
  padding: 5px;
  border-radius: 10px;
}
.addNewTweet button ,.mainContent>section input[type="submit"]{
  background: #1da1f2;
  color:white;
}
#genderRadio{
  display: flex;
  justify-content: center;
}
#genderRadio input{
  margin-left: 5px;
}


/* home*/
.mainContenttweet{
  margin-top: 20px;
  background: white;
  max-width: 800px;
  padding-top:20px;
}
.addNewTweet{
  margin: 0 auto;
  display: table;
}
.addNewTweet input , .addNewTweet button{
  padding: 5px;
  border-radius: 5px;
}
.recentTweets{
  border-top: 1px solid #cecece;
  margin-top: 20px;
  padding-top:20px;
}
.tweetHeader{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tweetHeader img{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.singleTweet{
  border-bottom: 1px solid #cecece;
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding:20px 0;
}
.singleTweet p{
  width: 60%;
  line-height: 2;
  margin: 0 auto;
}

/* profile css**/
.userInfo{
  max-width: 270px;
  width: 100%;
  background: darkgray;
  padding: 20px 0;
}
#profileAvatar{
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  margin: 0 auto;
  display: block;
}
.profileCont{
  background: white;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;
  max-width: 1000px;
}
#userTweets{
  width: 100%;
  padding-left:20px;
  padding-top: 20px;
}
#userTweets .tweetHeader{
  justify-content: flex-start;
  width: 30%;
}
.userTweet {
  display: flex;
  align-items: center;
}
p.tweetBody {
  border-left: 1px solid #cecece;
  width: 65%;
  margin-left: 5%;
  box-sizing: border-box;
  padding-left: 20px;
}
.headerDate{
  color: gray;
  font-size:10px;
}
.userInfo .info p{
  text-align: center;
}
.userInfo .info h2{
  text-align: center;
  padding-bottom: 10px;
}
