*{
  padding: 0;
  margin: 0;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.mainContent{
  display: flex;
  background: gray;
}
.mainContent>section{
  width:45%;
  margin: 2.5%;
  background: white;
}
